<div class="col-12 mb-4">
  <div class="row align-items-center">
    {% if project.img %}
      <div class="col-sm-4 col-md-3">
        <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
          {% include figure.liquid loading="eager" path=project.img sizes="(min-width: 768px) 120px, 30vw" alt="project thumbnail" class="img-fluid rounded" %}
        </a>
      </div>
    {% endif %}
    <div class="{% if project.img %}col-sm-8 col-md-9{% else %}col-12{% endif %}">
      <h3 class="mt-0 mb-1">
        <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">{{ project.title }}</a>
      </h3>
      <p class="mb-1">{{ project.description }}</p>
      {% if project.keywords %}
        <div class="mb-1">
          {% for keyword in project.keywords %}
            <span class="badge badge-light">{{ keyword }}</span>
          {% endfor %}
        </div>
      {% endif %}
      <div>
        {% if project.paper_url %}
          <a href="{{ project.paper_url }}" class="mr-2" data-toggle="tooltip" title="Paper"><i class="fa-solid fa-file-lines"></i></a>
        {% endif %}
        {% if project.github %}
          <a href="{{ project.github }}" data-toggle="tooltip" title="Code"><i class="fa-brands fa-github"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
  <hr class="mt-3 mb-0">
</div>
