<article class="research-post">
  {% if project.img %}
    <div class="research-post__image-wrap">
      <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
        <div class="research-post__image" style="background-image: url('{{ project.img | prepend: '/' | relative_url }}')"></div>
      </a>
    </div>
  {% endif %}
  <div class="research-post__content-wrap">
    <div class="research-post__content">
      <h2 class="research-post__title">
        <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">{{ project.title }}</a>
      </h2>
      {% if project.keywords %}
        <p class="research-post__keywords">
          {% for keyword in project.keywords %}{{ keyword }}{% unless forloop.last %} &middot; {% endunless %}{% endfor %}
        </p>
      {% endif %}
      <p class="research-post__description">{{ project.description }}</p>
      {% if project.paper_url or project.github %}
        <div class="research-post__links">
          {% if project.paper_url %}
            <a href="{{ project.paper_url }}">[{{ project.paper_name | default: "Paper" }}]</a>
          {% endif %}
          {% if project.github %}
            <a href="{{ project.github }}" class="ml-2">[Code]</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</article>
